.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  padding: 10px;
  padding-left: 30px;
  color: white;
}

.App-title {
  font-size: 30px;
}

.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  flex-wrap: wrap;
}

.App-teams {
  flex-basis: 0;

}

.App-schedule {
  height: auto;
  flex-basis: auto;
}
